@model CreaTuWeb0_1.Models.ProductoCategoria

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProductoCategoria</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Categoria.NombreCategoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria.NombreCategoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Producto.NombreProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producto.NombreProducto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductoCategoriaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
